#IntelliJ
.idea/*
**.iml

#Maven
target/*
ScalaLoader/target/*
ScalaExample/target/*
JavaExample/target/*
Scala3Example/target/*

#Eclipse
.settings/*
.project
.classpath

#VSCode
*/.settings/*
.bloop/*
.metals/*
.vscode/*

#Miscellaneous
stager_feedback.txt
*.log
