#IntelliJ
.idea/*
**.iml

#Maven
target/*
ScalaLoader/target/*
ScalaLoader/dependency-reduced-pom.xml
ScalaLoader-Common/target/*
ScalaLoader-Bukkit/target/*
ScalaLoader-Paper/target/*
Scala2Example/target/*
Scala3Example/target/*
JavaExample/target/*

#Eclipse
.settings/*
.project
.classpath

#VSCode
*/.settings/*
.bloop/*
.metals/*
.vscode/*

#Miscellaneous
stager_feedback.txt
*.log
